<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The FIREBREAK</title>

    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,500|Dosis:400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/fancybox.min.css">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

  
    <link href="~/Content/py.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index"><img src="~/images/logo.png" style="width:40px;" />The FireBreak</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a href="/Home/Index" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/Home/Prepare" class="nav-link">Preparation steps</a></li>


                    @*<li class="nav-item dropdown">
                            <a href="/Home/Prepare" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Survival Plan</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Home/Prepare" style="color: #000; font-size:14px;">Prepare your house</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item " href="/Home/FinalChecklist" style="color: #000; font-size:14px;">Get your checklist</a>
                            </div>
                        </li>*@

                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle || nav-link dropdown-toggle || nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Weed Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="/Home/WeedManagement">Weed Control</a>
                                <a class="dropdown-item" href="#">Weed Prevention</a>

                            </div>
                        </li>*@


                    <li class="nav-item"><a href="/Home/GetYourChecklist" class="nav-link">Get your checklist</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Calculate severity level</a></li>

                    <li class="nav-item dropdown">
                        <a href="/Home/About" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Maps</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Home/Map" style="color: #000; font-size:14px;">Alerts & Warnings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " href="/Home/NearbyHospitals" style="color: #000; font-size:14px;">Nearby hospitals</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - All rights reserved | TheFireBreak Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="~/Scripts/aos.js"></script>



    <script src="~/Scripts/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>

    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>

    <script src="~/Scripts/bootstrap-datepicker.js"></script>

    <script src="~/Scripts/jquery.fancybox.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/aos.js"></script>
    <script src="~/Scripts/jquery.animateNumber.min.js"></script>

    <script src="~/Scripts/main.js"></script>


    <script>
        $(document).ready(function () {
            var url = window.location;
            $('.ml-auto li a').each(function () {
                if (this.href == url) {
                    $("ml-auto li").each(function () {
                        if ($(this).hasClass("active")) {
                            $(this).removeClass("active");
                        }
                    });
                    $(this).parent().addClass('active');
                }
            });
        });

    </script>

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.steps.js"></script>
    <script src="~/Scripts/py.js"></script>
    <script src="~/Scripts/hotspot.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
