<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The FIREBREAK</title>
    <link rel="icon"
          type="image/png"
          href="~/images/logo.png" />
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,500|Dosis:400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    @*<link rel="stylesheet" href="~/Content/magnific-popup.css">*@
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/fancybox.min.css">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link href="~/Content/py.css" rel="stylesheet" />
    <style>

        footer p {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        footer {
            background-color: #26272b;
            font-size: 15px;
            padding: 45px 0 20px;
            line-height: 24px;
            color: #fff;
        }

            footer ol {
                padding-left: 0;
                list-style: none;
            }

            footer ul {
                padding-left: 0;
            }

        .footer_section {
            text-align: left;
            margin: 0 auto;
            margin-left: 3rem !important;
        }

            .footer_section h3 {
            }

        #myModal {
            color: #000;
        }

        .modal-body {
            text-align: justify;
        }

            .modal-body p {
                padding-bottom: 10px;
            }

            .modal-body ol {
                padding-left: 18px;
                margin-left: 18px;
            }

                .modal-body ol li {
                    list-style-type: decimal;
                }

                    .modal-body ol li a {
                        color: #ffb100;
                    }

        .disclaimer {
            background-color: #FFBA22;
        }

        .firebreak_footer_row {
            margin: auto;
        }
    </style>

</head>
<body>
    <div id="loader" class="center"></div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index"><img src="~/images/logo.png" style="width:40px;" />The <span style="color:#FFBA22;">FIREBREAK</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a href="/Home/Index" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/Home/SeverityMap" class="nav-link">Severity Map</a></li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Preparation</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Home/Prepare" style="color: #000; font-size:14px;">Preparation steps</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Home/GetYourChecklist" style="color: #000; font-size:14px;">Customise checklist</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " href="/Home/FinalChecklist" style="color: #000; font-size:14px;">Last minute checklist</a>
                        </div>
                    </li>
                    @*<li class="nav-item dropdown">
                            <a href="/Home/Prepare" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Survival Plan</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Home/Prepare" style="color: #000; font-size:14px;">Prepare your house</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item " href="/Home/FinalChecklist" style="color: #000; font-size:14px;">Get your checklist</a>
                            </div>
                        </li>*@

                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle || nav-link dropdown-toggle || nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Weed Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="/Home/WeedManagement">Weed Control</a>
                                <a class="dropdown-item" href="#">Weed Prevention</a>

                            </div>
                        </li>*@

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Maps</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Home/Map" style="color: #000; font-size:14px;">Alerts & Warnings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " href="/Home/NearbyHospitals" style="color: #000; font-size:14px;">Nearby hospitals</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " href="/Home/NearbyVetClinic" style="color: #000; font-size:14px;">Nearby Vet Clinic</a>

                        </div>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About bushfire</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item " href="/Home/Timeline" style="color: #000; font-size:14px;">Bushfire timeline</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Home/KnowAboutBushfire" style="color: #000; font-size:14px;">Bushfire statistics</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Home/Game" style="color: #000; font-size:14px;">Emergency kit game</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " href="/Home/Quiz" style="color: #000; font-size:14px;">Quiz</a>
                        </div>
                    </li>




                </ul>
            </div>
        </div>
    </nav>
    <div class="">
        @RenderBody()


        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 firebreak_footer_row">
                        <div class="row">
                            <div class="col-lg-2"><img src="~/images/logo.png" style="width:50px;" /></div>
                            <div class="col-lg-10">
                                <h2 style="color:#fff">THE <span style="color:#FFBA22;">FIREBREAK</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="footer_section">
                            <h3>Quick links</h3>
                            <ul>

                                <li><a href="/Home/Prepare"><span class="ion-ios-arrow-forward mr-3"></span>Preparation steps</a></li>
                                <li><a href="/Home/GetYourChecklist"><span class="ion-ios-arrow-forward mr-3"></span>Customise checklist</a></li>
                                <li><a href="/Home/FinalChecklist"><span class="ion-ios-arrow-forward mr-3"></span>Final checklist</a></li>
                                <li><a href="/Home/NearbyVetClinic"><span class="ion-ios-arrow-forward mr-3"></span>Nearby vet clinics</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="footer_section">
                            <h3>Maps</h3>
                            <ul>
                                <li><a href="/Home/SeverityMap"><span class="ion-ios-arrow-forward mr-3"></span>Severity Map</a></li>
                                <li><a href="/Home/Prepare"><span class="ion-ios-arrow-forward mr-3"></span>Alerts & Warning</a></li>
                                <li><a href="/Home/GetYourChecklist"><span class="ion-ios-arrow-forward mr-3"></span>Nearby hospitals</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="footer_section">
                            <h3>Games</h3>
                            <ul>
                                <li><a href="/Home/Game"><span class="ion-ios-arrow-forward mr-3"></span>Emergency kit game</a></li>
                                <li><a href="/Home/Quiz"><span class="ion-ios-arrow-forward mr-3"></span>Quiz</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <p>
                &copy; @DateTime.Now.Year - All rights reserved | TheFireBreak Application |
                <a class="" href="" style="color:#f7ca44; border:0; font-size:12px;" data-toggle="modal" data-target="#myModal">
                    Disclaimer
                </a>
            </p>

            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">DISCLAIMER</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <p>All the information presented in this website is taken from various sources. All the information related to the preparation plan is from state government websites. The used websites are listed below:</p>
                            <ol>
                                <li><a href="https://www.bbc.com/news/world-australia-50951043">BBC News, World Australia</a></li>
                                <li><a href="https://www.cfa.vic.gov.au/home">Country Fire Authority (Victoria)</a></li>
                                <li><a href="https://www.abc.net.au/news/">ABC News</a></li>
                                <li><a href="https://www.theguardian.com/australia-news/2020/jan/19/bushfire-destroyed-homes-should-not-be-rebuilt-in-riskiest-areas-experts-say">The Guardian.com (Australian Bushfire news)</a></li>
                                <li><a href="https://www.vic.gov.au/bushfire-recovery-programs-and-initiatives">Victoria State Govt. Bushfire Recovery Program</a></li>
                                <li><a href="https://www.planning.vic.gov.au/policy-and-strategy/bushfire-protection/bushfire-protection-and-my-property">Victoria State Govt. Planning</a> </li>
                                <li><a href="https://www.rfs.nsw.gov.au/">NSW Rural Fire Service</a></li>
                            </ol>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@


    @Scripts.Render("~/bundles/bootstrap")



    <script src="~/Scripts/aos.js"></script>



    <script src="~/Scripts/jquery-migrate-3.0.1.min.js"></script>

    @*<script src="~/Scripts/popper.min.js"></script>*@

    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>

    @*<script src="~/Scripts/bootstrap-datepicker.js"></script>*@

    <script src="~/Scripts/jquery.fancybox.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/aos.js"></script>
    <script src="~/Scripts/jquery.animateNumber.min.js"></script>

    <script src="~/Scripts/main.js"></script>


    <script>
        $(document).ready(function () {
            var url = window.location;
            $('.ml-auto li a').each(function () {
                if (this.href == url) {
                    $("ml-auto li").each(function () {
                        if ($(this).hasClass("active")) {
                            $(this).removeClass("active");
                        }
                    });
                    $(this).parent().addClass('active');
                }
            });
        });

    </script>

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.steps.js"></script>
    <script src="~/Scripts/py.js"></script>
    <script src="~/Scripts/hotspot.js"></script>

    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
    @RenderSection("scripts", required: false)
    <script>
        document.onreadystatechange = function () {
            if (document.readyState !== "complete") {
                document.querySelector(
                    "body").style.visibility = "hidden";
                document.querySelector(
                    "#loader").style.visibility = "visible";
            } else {
                document.querySelector(
                    "#loader").style.display = "none";
                document.querySelector(
                    "body").style.visibility = "visible";
            }
        };
    </script>

</body>
</html>
